.modal-overlay {
	position: absolute;
	top: -50px;
	width: 100%;
	height: 110%;
	background: rgba(20,20,20,0.5);
	z-index: 49999;
}

.modal {
	position: absolute;
	top: 150px;
	padding: 25px;
	padding-top: 0;
	left: 50%;
	margin-left: -175px;
	width: 350px;
	border: 1px solid rgba(100,100,100, .3);
	height: 460px;
	background: #f3f3f3;
	z-index: 50000;
}
