$font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

html, body {
  font: 18px/1.6 $font-family;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

a {
    color: $primary;

    &:hover {
        color: #555;
    }
}

input {
  display: inline-block;
  font-size: 16px;
  outline: none;
}

.button {
    font-weight: 600;

    &.nostyle {
        background: transparent;
        margin: 0;
        padding: 0;
    }
}

