.featured {
    position: relative;
    background: #555;
    height: 250px;
    overflow: hidden;

    &:hover {
        .featured-meta {
            height: 90px;
        }

        .stats {
            opacity: 1;
            transition: .1s opacity ease;
        }
    }

    &:first-child {
        img {
            border-radius: 5px 0 0 0;
        }
    }

    &:last-child {
        img {
            border-radius: 0 5px 0 0;
        }
    }
}

.featured-meta {
    position: absolute;
    height: 73px;
    overflow: hidden;
    padding: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 3px;
    background: rgba(20,20,20, .6);
    transition: .1s height ease;

    h2, p {
        margin: 0;
        padding: 0;
        color: #fff;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .stats {
        opacity: 0;
        font-size: 12px;
        text-transform: uppercase;
        color: #eee;
        transition: .1s opacity ease;
    }
}
