footer {
    background: #fff;
    margin-bottom: 50px;
    padding: 25px 25px 20px 25px;
    border: 1px solid #ccc;
    border-top: none;

    nav, .copyright {
        display: inline-block;
    }

    .copyright {
        float: right;
    }

    a, .copyright {
        text-decoration: none;
        color: #666;
        font-size: 15px;
        padding: 3px 8px;
    }
}
