.site-nav-wrap {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.site-nav {
    zoom: 1;
    margin: 0 auto;
    width: $container-width;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    height: 50px;
}

.site-nav-item {
    float: left;
    height: 50px;
    font-size: 18px;
    padding: 5px 11px;
}

.site-nav-item-logo {
    padding: 0 15px 0 10px;
}

.site-nav-logo {
    display: block;
    position: relative;
    color: #666;

    div {
        text-indent: -5000px;
    }
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

.site-nav-list {
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
}

.site-nav-primary-link {
    position: relative;
    text-decoration: none;
    color: #666;
}

.site-nav-item-search {
    float: left;
    height: 50px;
    margin: 0 0 0 10px;
    padding: 0 5px;
}

.site-nav-search-form {
    position: relative;
}

.site-nav-search {
    border: 1px solid #ddd;
    border-width: 0 1px;
    height: 49px;
    width: 257px;
    padding: 0 10px 0 43px;
    font-size: 15px;
}

.site-nav-search-submit {
    display: inline-block;
    position: absolute;
    left: 13px;
    top: 17px;
    height: 36px;
    width: 36px;
    z-index: 20;
    font-size: 16px;
    color: #666;
}
