.site-nav-wrap {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
}

.site-nav {
    zoom: 1;
    margin: 0 auto;
    width: $container-width;
    border: 1px solid #ddd;
    border-width: 0 1px;
    height: 50px;
}

.site-nav-item {
    float: left;
    height: 50px;
    font-size: 18px;
    padding: 5px 11px;
}

.site-nav-item-logo {
    padding: 0 15px 0 10px;
}

.site-nav-logo {
    display: block;
    position: relative;
    color: #666;

    div {
        text-indent: -5000px;
    }
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

.site-nav-list {
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
}

.site-nav-primary-link {
    position: relative;
    text-decoration: none;
    color: #666;
}
