<div class="row section">
    <div class="columns-7">
        <h2>Welcome to your Nex community</h2>
        <p>To get started,  log in to your control panel and edit this text. You can
        even remove it entirely if you'd like. If you get stuck, you're on your own
        because we haven't documented it yet HAHA.</p>

        <p>
            <a href="/register" class="button button-positive">Register</a>
            <a href="/login" class="button">Log in</a>
        </p>
    </div>
    <aside class="columns-5">
        <div class="module">

        </div>
    </aside>
</div>

<div class="row collapse">
    <a href="#" class="columns-4 featured">
        <img alt="Sleeping Golems" src="http://www.nerdkingdom.com/img/tugconcept2.jpg">
        <div class="featured-meta">
            <h2>Sleeping Golems</h2>
            <p>Awaken the archaic titans at your own peril</p>
            <div class="stats">
                <strong>2,352</strong> views &bull; <strong>1,091</strong> downloads
            </div>
        </div>
    </a>
    <a href="#" class="columns-4 featured">
        <img alt="Swamp Biomes" src="http://hellocraig.com/koken/storage/cache/images/000/006/robo,medium_large.jpg?1381165231">
        <div class="featured-meta">
            <h2>Swamp Biomes</h2>
            <p>Wade through murky toad juice!</p>
            <div class="stats">
                <strong>17,010</strong> views &bull; <strong>8,742</strong> downloads
            </div>
        </div>
    </a>
    <a href="#" class="columns-4 featured">
        <img class="featured-image" alt="Snow Things" src="http://hellocraig.com/koken/storage/cache/images/000/012/home,medium_large.jpg?1381174007">
        <div class="featured-meta">
            <h2>Snow Things</h2>
            <p>Like that thing from Star Wars</p>
            <div class="stats">
                <strong>352</strong> views &bull; <strong>191</strong> downloads
            </div>
        </div>
    </a>
</div>

<div class="row section">
    <div class="columns-6 news-list">
        <h2>News</h2>
        <article>
            <h1 style="margin-top:0"><a href="#">Public beta released</a></h1>
            <div class="meta">3 days ago by <a>Jarrod Mosen</a></div>

            <p>This lumbering beast will never be ready for the public eye,
            but here's some demo content, go punch some trash cans you rat.</p>
        </article>
        <article>
            <h1><a href="#">New subscription options available</a></h1>
            <div class="meta">1 week ago by <a>Nyphrex</a></div>

            <p>Head on over to your dashboard and enter <code>EATPOO</code> to
            activate them.</p>
        </article>
        <article>
            <h1><a href="#">Some loser decided to write a title that spans multiple lines</a></h1>
            <div class="meta">3 months ago by <a>Gabe Newell</a></div>

            <p>Lorem ipsum dolor sit amet I like to eat big slimy balls. Ed Sheeran
            came to my house and he rubbed his big ginger head on my cat.</p>
        </article>
    </div>
    <div class="columns-6 popular-list">
        <h2>Popular</h2>
        <section class="popular-posts">
            <h1>Forum posts</h1>
            <a class="popular-post" href="#">
                <div class="post-title">How do I reach the top of Mt. Doom?</div>
                <p>I'm a level 16 paladin, and I've eaten three bags of&hellip;</p>
                <div class="post-meta"><strong>36</strong> replies &bull; <strong>56,929</strong> views</div>
            </a>
            <a class="popular-post" href="#">
                <div class="post-title">Daily image thread</div>
                <p>Post any images you want here. One per day.</p>
                <div class="post-meta"><strong>3,658</strong> replies &bull; <strong>56,929</strong> views</div>
            </a>
            <a class="popular-post" href="#">
                <div class="post-title">Mod applications now open</div>
                <p>Due to a case of cripplingly terrible foresight, we&hellip;</p>
                <div class="post-meta"><strong>55</strong> replies &bull; <strong>147</strong> views</div>
            </a>
        </section>
<!--
        <section>
            <h1>Mods</h1>
            <a class="popular-mod" href="#">
                <div class="mod-title">Realm of Sheogorath</div>
                <p>Unleash the fury of the Madgod with this one-click mod.</p>
                <div class="post-meta"><strong>9,969</strong> downloads &bull; <strong>15,929</strong> views</div>
            </a>
        </section>
-->
    </div>
</div>
