*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    width: 1110px;
    max-width: 1110px;
}

.collapse {
    [class*="columns-"] {
        margin: 0;
    }

    .columns-4 {
        width: 370px;
    }

    .columns-3 {
        width: 25%;
    }
}

.module {
    padding: 0 20px;
    background: #f3f3f3;
    border: 1px solid #e5e5e5;
}
