$container-width: 1110px;

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    width: $container-width;
    max-width: $container-width;
}

.collapse {
    [class*="columns-"] {
        margin: 0;
    }

    .columns-4 {
        width: ($container-width / 3);
    }

    .columns-3 {
        width: ($container-width / 4);
    }
}

.section {
    padding: 0 20px 25px 20px;
//    background: #f3f3f3;
    border: 1px solid #e5e5e5;
    border-top-style: none;
}
