@font-face {
    font-family: 'nex';
    src: url('../fonts/nex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .site-nav-logo, .site-nav-search-submit  {
    font-family: 'nex';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-nex:before, .site-nav-logo:before {
    content: '\e600';
    height: 32px;
    width: 32px;
    float: left;
    margin-top: 6px;
    font-size: 36px;
    color: inherit;
}

.icon-search:before {
    content: '\e601';
}
