/*
* Skeleton V2.0
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 2/2/2014
*/
/* Basic
================================================== */
body {
  background: #fff;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* Typography
================================================== */
h1, h2, h3, .menu .menu-sub .menu-title, h4, h5, h6 {
  line-height: 1.1; }

h1 {
  font-size: 46px;
  margin-bottom: 14px; }

h2 {
  font-size: 35px;
  margin-bottom: 10px; }

h3, .menu .menu-sub .menu-title {
  font-size: 28px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  margin-bottom: 4px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 14px; }

p {
  margin: 0 0 20px 0; }

p img {
  margin: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

small {
  font-size: 80%; }

/* Links
================================================== */
a, a:visited {
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus {
  color: green; }

/* Lists
================================================== */
ul, ol {
  padding-left: 18px; }

/* Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* #Misc
================================================== */
.remove-bottom {
  margin-bottom: 0 !important; }

.half-bottom {
  margin-bottom: 10px !important; }

.add-bottom {
  margin-bottom: 20px !important; }

/* Buttons
================================================== */
.button, button {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #33485f;
  border-radius: 3px;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 8px 30px 10px;
  border-radius: 3px;
  transition: 0.03s all ease-in; }
  .button:hover, .button.button-filled, button:hover, button.button-filled {
    color: #fff;
    background-color: #33485f;
    border-color: #33485f; }
  .button.button-filled:hover, button.button-filled:hover {
    border-color: #253444;
    background-color: #253444; }
  .button.button-rounded, button.button-rounded {
    border-radius: 100px; }

.button.button-positive, button.button-positive {
  color: #3ec474;
  border-color: #3ec474; }
  .button.button-positive:hover, .button.button-positive.button-filled, button.button-positive:hover, button.button-positive.button-filled {
    color: #fff;
    background-color: #3ec474;
    border-color: #3ec474; }
  .button.button-positive.button-filled:hover, button.button-positive.button-filled:hover {
    border-color: #33a661;
    background-color: #33a661; }

.button.button-negative, button.button-negative {
  color: #df5b3c;
  border-color: #df5b3c; }
  .button.button-negative:hover, .button.button-negative.button-filled, button.button-negative:hover, button.button-negative.button-filled {
    color: #fff;
    background-color: #df5b3c;
    border-color: #df5b3c; }
  .button.button-negative.button-filled:hover, button.button-negative.button-filled:hover {
    border-color: #d04222;
    background-color: #d04222; }

/* #Forms
================================================== */
input {
  display: inline-block;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  border: 1px solid #ccc;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 8px 10px 10px;
  border-radius: 3px;
  outline: none; }

/* Grid Variables
--------------------------------------------------- */
/* Container
--------------------------------------------------- */
.container, .menu .menu-sub-inner {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto; }

/* Row
--------------------------------------------------- */
.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/* Columns & Offsets
--------------------------------------------------- */
[class*="columns-"]:first-child {
  margin-left: 0; }

[class*="columns-"] {
  float: left;
  margin-left: 5.81818%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.columns-12 {
  width: 100%; }

.offset-by-12 {
  margin-left: 105.81818%; }

.columns-11 {
  width: 91.18182%; }

.offset-by-11 {
  margin-left: 97%; }

.columns-10 {
  width: 82.36364%; }

.offset-by-10 {
  margin-left: 88.18182%; }

.columns-9 {
  width: 73.54545%; }

.offset-by-9 {
  margin-left: 79.36364%; }

.columns-8 {
  width: 64.72727%; }

.offset-by-8 {
  margin-left: 70.54545%; }

.columns-7 {
  width: 55.90909%; }

.offset-by-7 {
  margin-left: 61.72727%; }

.columns-6 {
  width: 47.09091%; }

.offset-by-6 {
  margin-left: 52.90909%; }

.columns-5 {
  width: 38.27273%; }

.offset-by-5 {
  margin-left: 44.09091%; }

.columns-4 {
  width: 29.45455%; }

.offset-by-4 {
  margin-left: 35.27273%; }

.columns-3 {
  width: 20.63636%; }

.offset-by-3 {
  margin-left: 26.45455%; }

.columns-2 {
  width: 11.81818%; }

.offset-by-2 {
  margin-left: 17.63636%; }

.columns-1 {
  width: 3%; }

.offset-by-1 {
  margin-left: 8.81818%; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.container, .menu .menu-sub-inner {
  width: 1110px;
  max-width: 1110px; }

.collapse [class*="columns-"] {
  margin: 0; }
.collapse .columns-4 {
  width: 370px; }
.collapse .columns-3 {
  width: 25%; }

.module {
  padding: 0 20px 25px 20px;
  background: #f3f3f3;
  border: 1px solid #e5e5e5;
  border-top-style: none; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html, body {
  font: 18px/1.6 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, .menu .menu-sub .menu-title, h4 {
  font-weight: 600; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-m40rei');
  src: url('../fonts/icomoon.eot?#iefix-m40rei') format('embedded-opentype'), url('../fonts/icomoon.woff?-m40rei') format('woff'), url('../fonts/icomoon.ttf?-m40rei') format('truetype'), url('../fonts/icomoon.svg?-m40rei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"], .logo {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 10px 0 0;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-nex:before, .logo:before {
  content: '\e600';
  margin: 0;
  height: 32px;
  width: 32px;
  float: left;
  margin-top: 11px;
  font-size: 36px;
  color: inherit; }

.icon-disk:before {
  content: '\e602'; }

.header-wrap {
  margin-bottom: 20px;
  padding-bottom: 3px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
  border-bottom: 1px solid #e5e5e5; }

.header {
  height: 50px; }
  .header .logo {
    display: inline-block;
    float: left;
    color: #000; }
    .header .logo:hover {
      color: #777; }
    .header .logo div {
      visibility: hidden;
      width: 0; }

.header-search {
  float: left;
  margin: 9px 0 0 15px;
  padding: 6px 10px 5px; }
  .header-search::-webkit-input-placeholder {
    font-weight: 200; }
  .header-search:-moz-placeholder {
    font-weight: 200; }
  .header-search::-moz-placeholder {
    font-weight: 200; }
  .header-search:-ms-input-placeholder {
    font-weight: 200; }

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.menu > ul {
  float: right;
  margin-right: -2px; }
.menu > ul > li {
  display: inline-block; }
  .menu > ul > li > a, .menu > ul > li > span {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 13px 17px;
    color: #999;
    font-weight: 600; }
    .menu > ul > li > a:hover, .menu > ul > li > span:hover {
      color: #333; }
  .menu > ul > li.menu-open span, .menu > ul > li.menu-open > span:hover {
    color: #444;
    background: #f2f2f2;
    box-shadow: inset 0 1px 2px -1px rgba(20, 20, 20, 0.5); }
.menu .menu-sub-inner {
  margin: 0 auto; }
.menu .menu-sub {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -1px;
  z-index: 99;
  background: #333;
  border-top: 4px solid #afdefa; }
  .menu .menu-sub .menu-title {
    color: #afdefa;
    padding: 2em 0 0.2em;
    margin: 0; }
  .menu .menu-sub ul + .menu-title {
    padding-top: 30px; }
  .menu .menu-sub a {
    color: #fff;
    text-decoration: none; }
.menu .menu-sub-inner:before, .menu .menu-sub-inner:after {
  content: ' ';
  display: table; }
.menu .menu-sub-inner:after {
  clear: both; }
.menu .menu-sub-inner > div {
  width: 33%;
  float: left;
  padding: 0 2em 0; }
  .menu .menu-sub-inner > div a {
    line-height: 2em; }

.menu-open .menu-sub {
  display: block;
  padding-bottom: 3em; }

.featured {
  position: relative;
  background: #555;
  height: 250px;
  overflow: hidden; }
  .featured:hover .featured-meta {
    height: 90px; }
  .featured:hover .stats {
    opacity: 1;
    transition: 0.1s opacity ease; }
  .featured:first-child img {
    border-radius: 5px 0 0 0; }
  .featured:last-child img {
    border-radius: 0 5px 0 0; }

.featured-meta {
  position: absolute;
  overflow: hidden;
  padding: 10px;
  height: 73px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 3px;
  background: rgba(20, 20, 20, 0.6);
  transition: 0.1s height ease; }
  .featured-meta h2, .featured-meta p {
    margin: 0;
    padding: 0;
    color: #fff; }
  .featured-meta h2 {
    font-size: 24px; }
  .featured-meta p {
    font-size: 16px; }
  .featured-meta .stats {
    opacity: 0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #eee;
    transition: 0.1s opacity ease; }

.alert {
  margin-bottom: 18px;
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #33485f; }
