.site-nav-wrap {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.site-nav {
    zoom: 1;
    margin: 0 auto;
    width: $container-width;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    height: 50px;
}

.site-nav-item {
    float: left;
    height: 50px;
    font-size: 18px;
    padding: 5px 11px;
}

.site-nav-item-logo {
}

.site-nav-logo {
    display: inline-block;
    position: relative;
    color: #666;

    div {
        text-indent: -5000px;
    }

    &:before {
        float: left;
        padding-top: 4px;
        font-size: 32px;
        color: inherit;
    }
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

.site-nav-list {
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
}

.site-nav-primary-link {
    position: relative;
    text-decoration: none;
    color: #666;
}

.site-nav-item-search {
    float: right;
    height: 50px;
//    margin: 0 0 0 15px;
}

.site-nav-search-form {
    position: relative;
}

.site-nav-search {
    border: 1px solid #ddd;
    border-width: 0 1px;
    height: 49px;
    width: 257px;
    padding: 0 10px 0 48px;
    font-size: 15px;
}

.site-nav-search-submit {
    position: absolute;
    left: 13px;
    top: 10px;
    z-index: 20;

    &:before {
        font-size: 16px;
        color: #888;
    }
}

.site-nav-user-container {
    float: right;
//    border-left: 1px solid #ddd;
}

.site-nav-login-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 7px;

    &:before {
        color: #888;
    }
}
