@font-face {
    font-family: 'Nex';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/nex.eot');
    src: local('ñêx'),
         url('../fonts/nex.woff') format('woff'),
         url('../fonts/nex.ttf') format('truetype');
}

[data-icon]:before {
    font-family: 'Nex' !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-nex:before {
  content: 'n';
}
.icon-user:before {
  content: 'e';
}
.icon-search:before {
  content: 'x';
}
