$nav-background: $dark-gray;
$nav-color: transparentize(white, 0.3);
$nav-color-hover: white;
$nav-height: 60px;
$nav-nav-button-background: $base-accent-color;
$nav-nav-button-background-hover: lighten($nav-background, 10);
$nav-nav-button-border: 1px solid lighten($nav-nav-button-background, 20);

.nav {
  background-color: $nav-background;
  border-bottom: 1px solid darken($nav-background, 10);
  font-family: $sans-serif-2;
  height: $nav-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-wrapper {
  @include outer-container;
  padding-top: 10px;
  position: relative;
  z-index: 9999;
}


.upload {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;

  background: $nav-nav-button-background;
  border-radius: $base-border-radius; 
  color: white;
  font-size: .8em;  
  font-weight: 700;
  padding: .6em 1em;
  text-transform: uppercase;

  &:hover {
    background: lighten($nav-nav-button-background, 10);
    color: #fff;
  }
}

.crumb {
  $crumb-border-color: lighten($nav-background, 20);
  $crumb-border: 1px solid $crumb-border-color;
  $crumb-height: $base-line-height * 1.5;
  $crumb-arrow-color: $crumb-border-color;
  $crumb-background: lighten($nav-background, 10);
  $crumb-inactive-hover-color: $crumb-background;
  $crumb-color: $light-gray;
  $crumb-color-hover: #fff;
  $crumb-color-active: $crumb-color;

  @include inline-block;
  text-align: left;
  margin-bottom: $base-line-height;

  a {
    @include inline-block;
    background-color: $crumb-background;
    border: $crumb-border;
    color: $crumb-color;
    line-height: $crumb-height;
    margin-right: -5px;
    font-size: .8em;
    padding: 0 $crumb-height/4 0 $crumb-height/2;
    position: relative;
    text-decoration: none;
    margin-bottom: 2px;

    &:first-child {
      padding-left: $crumb-height/2;
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
    }

    &:last-child {
      background-color: $crumb-background;
      color: $crumb-color-active;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      padding-right: $crumb-height/2;
      font-weight: bold;
    }

    &:hover {
      color: $crumb-color-hover;
      background-color: $crumb-inactive-hover-color;
    }

    &:hover:after {
      border-left-color: $crumb-inactive-hover-color;;
    }

    &:after,
    &:before {
      @include position(absolute, 0px auto 0px 100%);
      border-bottom: $crumb-height/2 solid transparent;
      border-left: $crumb-height/4 solid transparent;
      border-top: $crumb-height/2 solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2;
    }

    &:last-child:after,
    &:last-child:before {
       border: none;
    }

    &:before {
      border-left-color: $crumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }
    &:after {
      border-left-color: $crumb-background;
    }

    @include media($medium-screen) {
      font-size: 1em;
      padding: 0 $crumb-height/2 0 $crumb-height/1.5;
    }
  }
}

