/* #Forms
================================================== */
input {
  display: inline-block;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  border: 1px solid #ccc;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 8px 10px 10px;
  border-radius: 3px;
  outline: none;
}
// select {
//   padding: 0; }
// input[type="text"]:focus,
// input[type="password"]:focus,
// input[type="email"]:focus,
// textarea:focus {
//   // border: 1px solid #aaa;
//   // color: #444;
//   // -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
//   // -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
//   // box-shadow:  0 0 3px rgba(0,0,0,.2);
// }
// textarea {
//   min-height: 60px; }
// label,
// legend {
//   display: block;
//   font-weight: bold;
//   font-size: 13px;  }
// select {
//   width: 220px; }
// input[type="checkbox"] {
//   display: inline; }
// label span,
// legend span {
//   font-weight: normal;
//   font-size: 13px;
//   color: #444; }